<dj-extends parent='www/base.html' />
{% load component_tags %}

<dj-block name='content'>
  <h3>django-components</h3>

  <pre>
&lt;!-- components/button.html --&gt;
&lt;div class="button-component"&gt;
  &lt;button&gt;
    {{ label }}
  &lt;/button&gt;
&lt;/div&gt;

&lt;style&gt;
  .button-component {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .button-component button {
    font-weight: bold;
    margin-bottom: 10px;
  }
&lt;/style&gt;</pre>

  <pre># components/button.py
from django_components import Component, register

@register("button")
class Button(Component):
    template_name = "button.html"

    def get_context_data(self, label):
        return {
            "label": label,
        }</pre>

  <pre>&lt;dj-component name="button" label="Click Me" /&gt;</pre>

  <dj-component name="component_button" label="Click Me" />

</dj-block>
